/* follow BEM naming*/

.D3USAgdp {
  margin: 0px;
}

.D3USAgdp__svg {
  border: 1px solid black;
  background-color: white;
}

.D3USAgdp__title {
  font-size: larger;
  font-weight: bold;
}

.D3USAgdp__subtitle {
  font-size: small;
}

.D3USAgdp__axisLabel {
  font-size: small;
  text-anchor: middle;
  fill: black;
}

.D3USAgdp__datum {
  fill: blue;
}

.D3USAgdp__datum:hover {
  fill: black;
}

.D3USAgdp__tooltip {
  position: fixed;

  width: 150px;
  height: 50px;
  padding: 2px;

  text-align: center;
  font-size: medium;

  background: antiquewhite;

  border: 1px solid black;
  border-radius: 5px;
}

.D3USAgdp__footer {
  font-size: small;

  text-align: start;
}
